﻿body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
}

.header {
    background-color: #a4d491;
}

#PostImage {
    height: 100px;
}

#divPost {
    margin-left: 5px;
    margin-right: 5px;
}

.publishDate {
    font-size: 80%;
    padding-left: unset;
}

.fbCommentCount {
    padding-right: unset;
}

#imgLogo {
    background-color: whitesmoke;
}

#title {
    font-weight: bold;
}

#footer {
    background-color: #a4d491;
    font-size: 80%;
    /*position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;*/
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    body {
        font-size: 180%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    body {
        font-size: 200%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    body {
        font-size: 200%;
    }
}
